{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'main/index/css/bootstrap1.min.css' %}" />
    <link rel="stylesheet" href="{% static 'main/index/css/bootstrap-select.min.css' %}" />
    <link rel="stylesheet" href="{% static 'main/index/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'main/index/css/styles.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Font-awesome -->
    <link rel="stylesheet" href="{% static 'main/index/css/font-awesome.min.css' %}" />

    <title>CHM LAC</title>
  </head>
  <body>
    <main>
        <header class="h fixed-top">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <div class="container">
                <button
                  class="navbar-toggler"
                  type="button"
                  data-toggle="collapse"
                  data-target="#navbarTogglerDemo03"
                  aria-controls="navbarTogglerDemo03"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{% url 'main:home' %}">
                  <img class="logo-web" src="{% static 'main/index/images/logo-web.svg' %}" alt="OceanFinder"
                /></a>
    
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'main:home' %}"
                        >Home <span class="sr-only">(current)</span></a
                      >
                    </li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#">Link</a></li> -->
                    <li class="nav-item"><a class="nav-link" href="{% url 'admins:index'  %}">Upload File</a></li>
                  </ul>
                  <a
                    class="btn btn-link"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Español"
                  >
                  <img src="{% static 'main/index/images/es.svg' %}" alt="" style="width: 20px;" />
                  </a>
                  <a
                    class="btn btn-link disabled"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="English"
                  >
                  <img src="{% static 'main/index/images/us.svg' %}" alt="" style="width: 20px;" />
                  </a>
                </div>
              </div>
            </nav>
          </header>
      {% block content %} {% endblock%}
    </main>

    <footer>
      <div class="container">
        <div class="row align-items-center">
          <div class="col">©2019, CHM LAC. All rights reserved.</div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'main/index/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/index/js/bootstrap-select.min.js' %}"></script>
    
  </body>
</html>