{% load static%}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CHM/TMT</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'main/index/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/index/css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'main/index/css/styles.css' %}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{% static 'main/index/css/2-col-portfolio.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">CHM/TMT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    {% block content%} {% endblock %}
     <!-- <div class="container"  >
          <div class="container-inside" >
              
          </div>   
      </div>-->
   
   
    <!-- /.container -->

   
    <!-- Footer -->
    <footer class="bg-dark tmfoot">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; CHM/TMT 2019</pS>
        </div>
        <!-- /.container -->
    </footer>
   
    

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'main/index/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'main/index/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>