{% extends "main/base.html" %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />


{% block content %}
<div class="container"  >
        <div class="container-inside" >
            
                <div class="row">

                        <div class="col-lg-3">
                          <h1 class="my-4">Categorias</h1>
                          <input id = "path" type="hidden" value="{{request.path}}" />
                          <div class="list-group">
                                <a id="expert" name="itemMenu" href="{% url 'marine' 'expert' %}" class="list-group-item active">Expertos</a>
                                <a id="institution" name="itemMenu" href="{% url 'marine' 'institution' %}" class="list-group-item">Instituciones</a>
                                <a id="document" name="itemMenu" href="{% url 'marine' 'document' %}" class="list-group-item">Documentos</a>
                                <a id="document" name="itemMenu" href="{% url 'marine' 'training' %}" class="list-group-item">Entrenamiento</a>
                           
                          </div>
                        </div>
                        <div class="col-lg-9">
                                <form method="get">
                                    <div class="well">
                                        <h4 style="margin-top: 0">Filter</h4>
                                        <div class="row">
                                            <div class="form-group col-sm-4 col-md-3">
                                                {{ filter.form.nombre.label_tag }}
                                                {% render_field filter.form.nombre class="form-control" %}
                                            </div>
                                            <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.ocupacion.label_tag }}
                                                    {% render_field filter.form.ocupacion class="form-control" %}
                                            </div>
                                            <div class="form-group col-sm-4 col-md-3">
                                                    {{ filter.form.institucion.label_tag }}
                                                    {% render_field filter.form.institucion class="form-control" %}
                                            </div>
                                               
                                            <!--<div class="form-group col-sm-4 col-md-3">
                                                {{ filter.form.as_p }}
                                            </div>-->
                                            
                                        </div>
                                        <button type="submit" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-search"></span> Search
                                        </button>
                                    </div>
                                </form>
                                {% render_table table %}
                        </div>
                </div>


        </div>   
    </div>

        <script>
            $(document).ready(function(){
                id_item = $("#path").val();
                $("a[name = itemMenu ]").removeClass('active');
                $("#"+id_item.substr(1)).addClass('active');
            });
        </script>
    
    
{% endblock %}


