{% extends "main/base.html" %}
{% load querystring from django_tables2 %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />


{% block content %}

<section class="banner-search">
        <div class="container">
          <div class="row align-items-center pb-2">
            <!--Busqueda para mobiles-->
            <div class="col-md-6 d-sm-none">
              <form>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Search"
                      />
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <select class="selectpicker form-control">
                        <option>Experts</option>
                        <option>Documents</option>
                        <option>Training</option>
                        <option>Laboratories</option>
                        <option>Institutions</option>
                        <option>Geographic platforms</option>
                        <option>Vassels</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary">
                      Search
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!--Fin de busqueda para mobiles-->

            <!--Busqueda para web-->
            <!-- <div class="col-md-6 d-none d-sm-block">
              <form method="get">
                <div class="input-wi">
                  <div class="input-group mb-3">                 
                  {% render_field filter.form.nombre class="form-control" placeholder="Search name" %}
                  <i class="fa fa-search" aria-hidden="true"></i>
                  <div class="input-group-append">                    
                    <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span> Search
                    </button>
                  </div>
                </div>
                </div>
              </form>
            </div> -->
            <!--Fin de busqueda para web-->
          </div>
        </div>
        <div class="container d-none d-sm-block">
          
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link {% if request.path|slice:":18" == '/chm/marine/expert' %}active{% endif %} " href="{% url 'main:marine' 'expert' %}">Experts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path|slice:":20" == '/chm/marine/document' %}active{% endif %}" href="{% url 'main:marine' 'document' %}">Documents</a></li>
            <li class="nav-item"><a class="nav-link {% if request.path|slice:":20" == '/chm/marine/training' %}active{% endif %}" href="{% url 'main:marine' 'training' %}">Training</a></li>
            <li class="nav-item">
              <a class="nav-link {% if request.path|slice:":22" == '/chm/marine/laboratory' %}active{% endif %}" href="{% url 'main:marine' 'laboratory' %}">Laboratories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path|slice:":23" == '/chm/marine/institution' %}active{% endif %}" href="{% url 'main:marine' 'institution' %}">Institutions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path|slice:":23" == '/chm/marine/platformgeo' %}active{% endif %}" href="{% url 'main:marine' 'platformgeo' %}">Geospatial information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path|slice:":23" == '/chm/marine/vessel' %}active{% endif %}" href="{% url 'main:marine' 'vessel' %}">Vessel information</a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resultados">
        <div class="container">
          <!-- <div class="">
            <div class="row align-items-center pb-2">
              <div class="col-md-6 d-none d-sm-block">
                <form method="get">
                  <div class="input-wi">
                    <div class="input-group mb-3">                 
                    {% render_field filter.form.nombre class="form-control" placeholder="Search name" %}
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <div class="input-group-append">                    
                      <button type="submit" class="btn btn-primary">
                              <span class="glyphicon glyphicon-search"></span> Search
                      </button>
                    </div>
                  </div>
                  </div>
                </form>
              </div>
            </div>
          </div>  -->
          <div class="row">
            <div class="col-md-12">
              <!--<button type="button" class="btn btn-primary float-right">
                Filter <i class="icon-plus"></i>
              </button>
              <h4>Experts</h4>
              <p class="lean">
                Showing results <b>21-30</b> of <b>171</b> for <i>Beatri</i>
              </p>

              <hr />-->
            
            <form method="get">
              <div style="margin-bottom: 20px;">
                <h5>Filters</h5>
                <div class="form-row">
                  <!--<div class="col-sm-2">
                    <div class="form-group">
                      <select class="selectpicker form-control">
                        <option>Name contains</option>
                        <option>Activites include</option>
                        <option>Country is</option>
                        <option>Department contains</option>
                        <option>Institution name contains</option>
                        <option>Job type is</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Search"
                      />
                    </div>
                  </div>

                  <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary">
                      Filter <i class="icon-plus"></i>
                    </button>
                  </div>-->
                  <!-- <div class="col-md-6 d-none d-sm-block">
                    <form method="get">
                      <div class="input-wi">
                        <div class="input-group mb-3">                 
                        {% render_field filter.form.nombre class="form-control" placeholder="Search name" %}
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <div class="input-group-append">                    
                          <button type="submit" class="btn btn-primary">
                                  <span class="glyphicon glyphicon-search"></span> Search
                          </button>
                        </div>
                      </div>
                      </div>
                    </form>
                  </div>                    -->
                </div>
                <div class="form-row">
                  {% if filter.form.nombre %}
                    <div class="form-group col-sm-4 col-md-3">
                      {{ filter.form.nombre.label_tag }}
                      {% render_field filter.form.nombre class="form-control" placeholder="Search name" %}
                    </div>
                    
                  {%  endif %}
                  {% if filter.form.ocupacion %}
                    <div class="form-group col-sm-4 col-md-3">
                            {{ filter.form.ocupacion.label_tag }}
                            {% render_field filter.form.ocupacion class="form-control" placeholder="Search occupation" %}
                    </div>
                    <div class="form-group col-sm-4 col-md-3">
                            {{ filter.form.institucion.label_tag }}
                            {% render_field filter.form.institucion class="form-control" placeholder="Search institution" %}
                    </div>
                  {% endif %} 

                  
                </div>
                
                <button type="submit" class="btn btn-primary">
                      <span class="glyphicon glyphicon-search"></span> Search
                </button>
                
              </div>
            
            
            </form>
        </div>
    </div>
          {% if filter %}
              {% render_table table %}
          {% endif %}
        

        <!--<nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>-->
      </section>
    </div>

<!--ANTIGUO -->





    
    
{% endblock %}


