{% extends "main/base.html" %}
{% load static%}

{% block content %} 
      <style>
        body{ padding: 0 !important; }
      </style>
      <!-- Page Heading -->
      <section class="hero" style="background: linear-gradient(rgba(113, 211, 255, 0.65), rgba(6, 59, 113, 0.65)), url({% static 'main/image/ocean.jpg' %});padding-top:50px">
        <div class="container">
          <div class="row logo-web">
            <img src="{% static 'main/image/logo-web.svg' %}" alt="OceanFinder" />
          </div>

            <div class="row align-items-center row-cat">
                <div class="col-md-4">
                  <a href="{% url 'marine' 'expert' %}" alt="Expertos" class="link-cat">
                    <div class="card categoria">
                      <div class="card-header">Expertos del Océano</div>
                      <div class="card-body body-services">
                        <img
                          src="{% static 'main/image/experts.svg' %}"
                          class="card-img-top"
                          alt="..."
                        />
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                      </div>
                    </div></a
                  >
                </div>
                <div class="col-md-4">
                  <a href="#" alt="Documentos" class="link-cat"
                    ><div class="card categoria">
                      <div class="card-header">Documentos</div>
                      <div class="card-body body-services">
                        <img
                          src="{% static 'main/image/documentos.svg' %}"
                          class="card-img-top"
                          alt="..."
                        />
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                      </div>
                    </div></a
                  >
                </div>
                <div class="col-md-4">
                  <a href="#" alt="Documentos" class="link-cat">
                    <div class="card categoria">
                      <div class="card-header">Entrenamiento</div>
                      <div class="card-body body-services">
                        <img
                          src="{% static 'main/image/entrenamiento.svg' %}"
                          class="card-img-top"
                          alt="..."
                        />
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-4">
                  <a href="#" alt="Documentos" class="link-cat">
                    <div class="card categoria">
                      <div class="card-header">Laboratorios</div>
                      <div class="card-body body-services">
                        <img
                          src="{% static 'main/image/laboratorios.svg' %}"
                          class="card-img-top"
                          alt="..."
                        />
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="{% url 'marine' 'institution' %}" alt="Documentos" class="link-cat">
                    <div class="card categoria">
                      <div class="card-header">Instituciones</div>
                      <div class="card-body body-services">
                        <img
                          src="{% static 'main/image/instituciones.svg' %}"
                          class="card-img-top"
                          alt="..."
                        />
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="#" alt="Documentos" class="link-cat">
                    <div class="card categoria">
                      <div class="card-header">Plataformas geográficas</div>
                      <div class="card-body body-services">
                        <img src="{% static 'main/image/geo.svg' %}" class="card-img-top" alt="..." />
                        <p class="card-text">
                          Some quick example text to build on the card title and
                          make up the bulk of the card's content.
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
      
        </div>
      </section>


    <!-- antiguo-->
    <!--
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="{% url 'marine' 'expert' %}"> <img class="card-img-top"  src= "{% static 'main/image/expert.jpg' %}" /></a>
            
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'marine' 'expert' %}">Expertos</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="{% url 'marine' 'institution' %}"> <img class="card-img-top" src= "{% static 'main/image/institution.jpg' %}" /></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'marine' 'institution' %}">Instituciones</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Three</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Four</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Five</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Project Six</a>
              </h4>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p>
            </div>
          </div>
        </div>
      -->
      
      <!-- /.row -->
      {% endblock%}

     

   