{% extends "main/base.html" %}
{% load static%}

{% block content %} 
      <style>
        body{ padding: 0 !important; }
      </style>
      <!-- Page Heading -->
      
      <section class="banner">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h1 class="title-site">Clearing-House Mechanism LAC</h1>
              <p>
                Provide interested users in Member States with direct and rapid access to relevant sources of information, practical expertise in the transfer of marine technology, as well as to facilitate effective scientific, technical and financial cooperation to that end
              </p>
            </div>
            <div class="col-md-6">
              <form>
                <div class="form-row">
                  <div class="col">
                    <div class="form-group">
                          <div class="input-wi">
                            <input id="searchtxt" type="text" class="form-control" placeholder="Search" />
                            <i class="fa fa-search" aria-hidden="true"></i>
                          </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <select id="catsel" class="selectpicker form-control">
                        <option value="expert">Experts</option>
                        <option value="document">Documents</option>
                        <option value="training">Training</option>
                        <option value="labs">Laboratories</option>
                        <option value="institution">Institutions</option>
                        <option value="geo">Geographic platforms</option>
                        <option value="vessel">Vassels</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <button id="searchbtn" type="button" class="btn btn-primary">
                      Search
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <section class="services">
        <div class="container">
          <div class="row align-items-center row-cat animated fadeInUp">
            <div class="col-md-4 col-10">
              <a href="{% url 'main:marine' 'expert'%}" alt="Expertos" class="link-cat">
                <div class="card categoria text-center experts ">
                  <div class="card-body body-services">
                    <h3>Experts</h3>
                    <i class="icon-experts"></i><span class="cifra">{{people}}</span>
                    <p class="card-text">
                      Information on people.
                    </p>
                  </div>
                </div></a
              >
            </div>
            <div class="col-md-4 col-10">
              <a href="{% url 'main:marine' 'document' %}" alt="Documentos" class="link-cat"
                ><div class="card categoria text-center  documents">
                  <div class="card-body body-services">
                    <h3>Documents</h3>
                    <i class="icon-documentos"></i
                    ><span class="cifra">{{document}}</span>
                    <p class="card-text">
                      Mainly grey literature, manuals and guidelines.
                    </p>
                  </div>
                </div></a
              >
            </div>
            <div class="col-md-4 col-10">
              <a href="{% url 'main:marine' 'training' %}" alt="Training" class="link-cat">
                <div class="card categoria text-center training">
                  <div class="card-body body-services">
                    <h3>Training</h3>
                    <i class="icon-entren"></i><span class="cifra">{{training}}</span>
                    <p class="card-text">
                      Training and education opportunities
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row align-items-center row-cat animated fadeInUp">
            <div class="col-md-3 col-10">
              <a href="{% url 'main:marine' 'laboratory' %}" alt="Laboratories" class="link-cat">
                <div class="card categoria text-center laboratories">
                  <div class="card-body body-services">
                    <h3>Laboratories</h3>
                    <i class="icon-lab"></i><span class="cifra">{{laboratory}}</span>
                    <p class="card-text">
                      Information on Laboratories.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-3 col-10">
              <a href="{% url 'main:marine' 'institution' %}" alt="Institutions" class="link-cat">
                <div class="card categoria text-center institutions">
                  <div class="card-body body-services">
                    <h3>Institutions</h3>
                    <i class="icon-instituciones"></i
                    ><span class="cifra">{{institution}}</span>
                    <p class="card-text">
                      Information on institutions.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-3 col-10">
              <a href="{% url 'main:marine' 'platformgeo' %}" alt="Geographic platforms" class="link-cat">
                <div class="card categoria text-center geo">
                  <div class="card-body body-services">
                    <h3>Geospatial information</h3>
                    <i class="icon-geo"></i><span class="cifra">{{platformgeo}}</span>
                    <p class="card-text">
                      Maps and atlases.
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-3 col-10">
              <a href="{% url 'main:marine' 'vessel' %}" alt="Vessels" class="link-cat">
                <div class="card categoria text-center vess">
                  <div class="card-body body-services">
                    <h3>Vessels</h3>
                    <i class="icon-boat"></i><span class="cifra">{{vessel}}</span>
                    <p class="card-text">information of vessels.</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <script>

        $(document).ready(function(){
          
          $("#searchbtn").click(function(){
            nombre = $("#searchtxt").val();
            cat = $("#catsel").val();
            location.href = "/"+cat+"?nombre="+nombre;
          })

        });

      </script>

      {% endblock%}

     

   