@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');
@import url('icomoon.css');
@font-face {
    font-family: 'proxima_nova_bold';
    src: url('../fonts/Proxima Nova Alt Bold-webfont.eot');
    src: url('../fonts/Proxima Nova Alt Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Alt Bold-webfont.woff2') format('woff2'), url('../fonts/Proxima Alt Bold-webfont.woff') format('woff'), url('../fonts/Proxima Alt Bold-webfont.ttf') format('truetype'), url('../fonts/Proxima Alt Bold-webfont.svg#proxima_nova_altbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Alt Regular-webfont.eot');
    src: url('../fonts/Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Alt Regular-webfont.woff') format('woff'), url('../fonts/Proxima Nova Alt Regular-webfont.ttf') format('truetype'), url('../fonts/Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/Proxima Nova Semibold-webfont.eot');
    src: url('../fonts/Proxima Nova Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Alt Bold-webfont.woff2') format('woff2'), url('../fonts/Proxima Nova Alt Bold-webfont.woff') format('woff'), url('../fonts/Proxima Nova Semibold-webfont.ttf') format('truetype'), url('../fonts/Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_con_semibold';
    src: url('../fonts/Proxima Nova Alt Condensed Semibold-webfont.eot');
    src: url('../fonts/Proxima Nova Alt Condensed Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Alt Condensed Semibold-webfont.woff2') format('woff2'), url('../fonts/Proxima Nova Alt Condensed Semibold-webfont.woff') format('woff'), url('../fonts/Proxima Nova Alt Condensed Semibold-webfont.ttf') format('truetype'), url('../fonts/Proxima Nova Alt Condensed Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.btn-primary {
    background: #00338D;
    border-color: #ffffff;
}

button#button-addon2 {
    border: 1px solid #023a98;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

body {
    font-family: Lato;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'proxima_nova_semibold';
    color: #255C9D;
}

p,
a {
    font-family: 'Lato', sans-serif;
}

.title-site {
    color: #AED6EB;
    font-size: 32px;
}

.bordered {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px #CCCCCC;
}

.bordered th:first-child {
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
}

.bordered td:first-child,
.bordered th:first-child {
    border-left: medium none;
}

.bordered td,
.bordered th {
    padding: 10px;
    text-align: left;
}

main {
    display: block;
    min-height: calc(100vh - 106px);
    background: #ffffff;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #002b91;
}

.resultados {
    margin-top: 2em;
    margin-bottom: 2em;
}

.media img {
    height: 100px;
}

.badge-expert {
    color: #fff;
    background-color: #00338D;
}

.badge-docs {
    color: #fff;
    background-color: #006C8D;
}

.badge-training {
    color: #fff;
    background-color: #1B655A;
}

.badge-labs {
    color: #fff;
    background-color: #243A5F;
}

.badge-inst {
    color: #fff;
    background-color: #123C4A;
}

.badge-geo {
    color: #fff;
    background-color: #2E4D43;
}

.title-exp {
    color: #333 !important;
    font-size: 18px;
}

.it {
    padding: 7px;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
}

.it:hover {
    background: #f7f7f7;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.page-link {
    color: #00338D;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #00338D;
    border-color: #ffffff;
}

.pagination {
    margin-top: 1em;
}

.title-menu {
    padding: 6px 13px;
    background: #DED3B6;
    border-radius: 5px 5px 0 0;
    color: #255C9D;
}

.menu-bar {
    background: #E8E8E8;
    border-radius: 5px 5px 0 0;
    padding-bottom: 3em;
    margin-bottom: 2em;
}

.title-menu h5 {
    margin: 5px 0px;
}

.sub-nav {
    background: #E8E8E8;
}

.menu-bar .nav-link {
    display: block;
    padding: .7rem 1rem;
    font-size: 1.2rem;
    color: #255C9D;
    margin-bottom: 1px;
    background: #fff;
}

i {
    margin-right: 1em;
}

.mb-activo {
    border-left-style: solid;
    border-left-width: 4px;
    border-color: #255C9D;
}

.mb:hover {
    border-left-style: solid;
    border-left-width: 4px;
    border-color: #255C9D;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(113, 211, 255, 0.65), rgba(6, 59, 113, 0.65)), /* your image */
    url(../images/ocean.jpg);
}

.hero,
.sub-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}

.navbar {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.nav-brand {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #0E4369;
    font-family: Proxima Nova;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #0E4369;
    font-family: Proxima Nova;
    font-weight: 600;
}

.bg-light {
    background-color: #ffffff !important;
}

.banner {
    min-height: 36vh;
    background: /*linear-gradient(rgba(113, 211, 255, 0.65), rgba(6, 59, 113, 0.65)),  your image */
    url(../images/fnd-inicio.jpg);
    background-size: cover;
}

.banner,
.sub-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 58px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.banner p {
    color: #ffffff;
}

.logo-web {
    height: 36px;
}

.categoria {
    flex-direction: column;
    margin-bottom: 2em;
    min-height: 200px;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: #255c9d;
    background-color: #ded3b6;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 22px;
    font-weight: 500;
}

.card-img-top {
    width: 30%;
    margin: 0 16px 0 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.body-services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-services h3 {
    color: #fff;
}

.experts {
    background-color: #00338D;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.documents {
    background-color: #006C8D;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.training {
    background-color: #1B655A;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.laboratories {
    background-color: #243A5F;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.institutions {
    background-color: #123C4A;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.geo {
    background-color: #2E4D43;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.vess {
    background-color: #175a64;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.body-services p {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}

.body-services i {
    font-size: 2.5em;
    margin-right: 0;
    margin-bottom: 10px;
}

.body-services .icon-experts:before {
    color: #ffffff;
}

.body-services .icon-documentos:before {
    color: #ffffff;
}

.body-services .icon-entren:before {
    color: #ffffff;
}

.body-services .icon-lab:before {
    color: #ffffff;
}

.body-services .icon-instituciones:before {
    color: #ffffff;
}

.body-services .icon-geo:before {
    color: #ffffff;
}

.body-services .icon-boat:before {
    color: #ffffff;
}

.link-cat a {
    color: #255C9D:
}

.link-cat {
    color: #255C9D;
    text-transform: none;
    text-decoration: none !important;
}

.categoria:hover {
    background: #255c9d;
    box-shadow: 2px 4px 6px 0 #928e8e;
    -webkit-box-shadow: 2px 4px 6px 0 #928e8e;
}

.cifra {
    font-size: 1.8em;
    font-weight: 500;
    color: #ffffff;
}

.link-cat:hover {
    text-decoration: transparent;
    text-transform: none;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.banner-search {
    background: #f7f7f7;
    padding: 20px 0 0;
    margin-top: 67px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #00308f;
    border-color: #ffffff #ffffff #fff;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    -webkit-box-shadow: 1px -1px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 1px -1px 4px 0 rgba(0, 0, 0, 0.16);
    background: #ffffff;
    color: #333333;
}

.divimage {
    height: 80px;
    width: 80px;
    background-size: cover !important;
    background-position: center center !important;
}

footer {
    background: #255C9D;
    height: 3em;
    padding: 1em;
    color: white;
}

/******forms********/

.btn-light {
    color: #212529;
    background-color: #ffffff;
    border: 1px solid #ced4da;
}

.input-wi input[type="text"] {
    padding-left: 34px;
}

.input-wi {
    position: relative;
}

.input-wi i {
    position: absolute;
    left: 0;
    top: 2px;
    padding: 9px 12px;
    color: #495057;
    transition: 0.3s;
    z-index: 4;
}

/*******end forms*********/

/*******mediaquery bootstrap********/

@media (max-width: 320px) {
    .media img {
        height: 50px;
        padding: 0;
    }
}

/*********Small devices (landscape phones, 576px and up)*************/

@media (max-width: 576px) {
    .body-services h3 {
        font-size: 1em;
    }
    .services {
        margin-top: 2em;
    }
    .row-cat {
        flex-direction: column;
        height: 250px;
        overflow-x: auto;
    }
    .media img {
        height: 80px;
        padding: 0;
    }
}

/*********Medium devices (tablets, 768px and up)*************/

@media (min-width: 768px) {
    .services {
        margin-top: -4em;
    }
    .body-services h3 {
        font-size: 1.1em;
    }
}

/************Large devices (desktops, 992px and up)************/

@media (min-width: 992px) {
    ...
}

/**************Extra large devices (large desktops, 1200px and up)***************/

@media (min-width: 1200px) {
    .container {
        max-width: 85% !important;
    }
}