{% extends "main/base.html" %}
{% load static%}

{% block content %}
<style>
    body{ padding: 0 !important; }
      </style>
<!-- Page Heading -->

<section class="banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="title-site">Clearing-House Mechanism LAC</h1>
                <p>
                    Provide interested users in Member States with direct and rapid access to relevant sources of
                    information, practical expertise in the transfer of marine technology, as well as to facilitate
                    effective scientific, technical and financial cooperation to that end
                </p>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <div class="input-wi">
                                    <input id="searchtxt" type="text" class="form-control" placeholder="Search" />
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <select id="catsel" class="selectpicker form-control">
                                    <option value="expert">Experts</option>
                                    <option value="document">Documents</option>
                                    <option value="training">Training</option>
                                    <option value="labs">Laboratories</option>
                                    <option value="institution">Institutions</option>
                                    <option value="geo">Geographic platforms</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button id="searchbtn" type="button" class="btn btn-primary">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="msg">
    <div class="container-fluid">
        {% if error_msj %}
            <p>{{error_msj}}</p>
        {% endif %}
    </div>
</section>
<section class="services">
    <div class="container">        
        <div class="row align-items-center row-cat" style="margin-top: 80px">                                    
            <form action="{{ request.path }}" method="POST" enctype="multipart/form-data" onsubmit="return validateForm();">
                {% csrf_token %}
                {% for field in form %}
                    {% if not field.is_hidden %}
                        {{ field.errors }}
                        <div class="">
                            <div class="form-group">
                                <label style="width: 120px" for="{{ field.name }}">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <button class="btn btn-primary active align-middle" type="submit">Enviar</button>
            </form>
        </div>         
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#searchbtn").click(function () {
            nombre = $("#searchtxt").val();
            cat = $("#catsel").val();
            location.href = "/" + cat + "?nombre=" + nombre;
        })        

    });
    function validateForm()
    {
        swal({
        title: "Subiendo informacion!",
        text: "Si hay registros incompletos se descargara un excel con ellos ",
        icon: "info",
        button: "OK!",
        });

    }
</script>

{% endblock%}