@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');
@import url('icomoon.css');
@font-face {
    font-family: 'proxima_nova_bold';
    src: url('../fonts/Proxima Nova Alt Bold-webfont.eot');
    src: url('../fonts/Proxima Nova Alt Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Alt Bold-webfont.woff2') format('woff2'), url('../fonts/Proxima Alt Bold-webfont.woff') format('woff'), url('../fonts/Proxima Alt Bold-webfont.ttf') format('truetype'), url('../fonts/Proxima Alt Bold-webfont.svg#proxima_nova_altbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova Alt Regular-webfont.eot');
    src: url('../fonts/Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Alt Regular-webfont.woff') format('woff'), url('../fonts/Proxima Nova Alt Regular-webfont.ttf') format('truetype'), url('../fonts/Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/Proxima Nova Semibold-webfont.eot');
    src: url('../fonts/Proxima Nova Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Alt Bold-webfont.woff2') format('woff2'), url('../fonts/Proxima Nova Alt Bold-webfont.woff') format('woff'), url('../fonts/Proxima Nova Semibold-webfont.ttf') format('truetype'), url('../fonts/Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_con_semibold';
    src: url('../fonts/Proxima Nova Alt Condensed Semibold-webfont.eot');
    src: url('../fonts/Proxima Nova Alt Condensed Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Proxima Nova Alt Condensed Semibold-webfont.woff2') format('woff2'), url('../fonts/Proxima Nova Alt Condensed Semibold-webfont.woff') format('woff'), url('../fonts/Proxima Nova Alt Condensed Semibold-webfont.ttf') format('truetype'), url('../fonts/Proxima Nova Alt Condensed Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.btn-primary {
    background: #00338D;
    border-color: #ffffff;
}

button#button-addon2 {
    border: 1px solid #023a98;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

body {
    font-family: Lato;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'proxima_nova_semibold';
    color: #255C9D;
}

p,
a {
    font-family: 'Lato', sans-serif;
}

.title-site {
    color: #AED6EB;
    font-size: 32px;
}

.bordered {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px #CCCCCC;
}

.bordered th:first-child {
    border-radius: 6px 0 0 0;
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    border-radius: 0 6px 0 0;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
}

.bordered td:first-child,
.bordered th:first-child {
    border-left: medium none;
}

.bordered td,
.bordered th {
    padding: 10px;
    text-align: left;
}

main {
    display: block;
    min-height: calc(100vh - 106px);
    background: #ffffff;
}

input[role*="combobox"] {
     max-width: 250px;
}

.Select-value{
    display: flex !important;
}

.VirtualizedSelectOption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 5px;
    cursor: pointer;
    font-size: 14px;


    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #666666;
}

.resultados {
    margin-top: 0;
    margin-bottom: -5px;
}

.media img {
    height: 100px;
}
.color-experts {
    color: #00338D !important;
}
.color-documents {
    color: #006C8D !important;
}
.color-training {
    color: #1B655A !important;
}
.color-laboratories {
    color: #243A5F !important;
}
.color-institutions {
    color: #123C4A !important;
}
.color-geo {
    color: #2E4D43 !important;
}
.color-vess {
    color: #175a64 !important;
}

.badge-experts {
    color: #fff;
    background-color: #00338D;
}

.badge-documents {
    color: #fff;
    background-color: #006C8D;
}

.badge-training {
    color: #fff;
    background-color: #1B655A;
}

.badge-laboratories {
    color: #fff;
    background-color: #243A5F;
}

.badge-institutions {
    color: #fff;
    background-color: #123C4A;
}

.badge-geospatial {
    color: #fff;
    background-color: #2E4D43;
}

.badge-vessels {
    color: #fff;
    background-color: #175a64;
}

.title-exp {
    color: #333 !important;
    font-size: 18px;
}

.it {
    padding: 7px;
    margin-bottom: 10px;
    border-bottom: 1px solid #efefef;
}

.it:hover {
    background: #f7f7f7;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.page-link {
    color: #333333;
}

.page-item.active .page-link {
    z-index: 1;
    color: #333333;
    background-color: #dddddd;
    border-color: #ffffff;
}

.pagination {
    margin-top: 1em;
}

.title-menu {
    padding: 6px 13px;
    background: #DED3B6;
    border-radius: 5px 5px 0 0;
    color: #255C9D;
}

.menu-bar {
    background: #E8E8E8;
    border-radius: 5px 5px 0 0;
    padding-bottom: 3em;
    margin-bottom: 2em;
}

.title-menu h5 {
    margin: 5px 0px;
}

.sub-nav {
    background: #E8E8E8;
}

.menu-bar .nav-link {
    display: block;
    padding: .7rem 1rem;
    font-size: 1.2rem;
    color: #255C9D;
    margin-bottom: 1px;
    background: #fff;
}

i {
    margin-right: 1em;
}

.mb-activo {
    border-left-style: solid;
    border-left-width: 4px;
    border-color: #255C9D;
}

.mb:hover {
    border-left-style: solid;
    border-left-width: 4px;
    border-color: #255C9D;
}

.hero {
    height: 100vh;
    background: linear-gradient(rgba(113, 211, 255, 0.65), rgba(6, 59, 113, 0.65)), /* your image */
    url(../images/ocean.jpg);
}

.hero,
.sub-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}

.navbar {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.nav-brand {
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #0E4369;
    font-family: Proxima Nova;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #0E4369;
    font-family: Proxima Nova;
    font-weight: 600;
}

.haspage{
    margin-right: 10px;
}
.alignment
{
    margin-top:32px;
}

.margin-bottom-btn
{
    margin-bottom:10px;
}

.bg-light {
    background-color: #ffffff !important;
}

.banner {
    min-height: 36vh;
    background: /*linear-gradient(rgba(113, 211, 255, 0.65), rgba(6, 59, 113, 0.65)),  your image */
    url(../images/fnd-inicio.jpg);
    background-size: cover;
}

.banner,
.sub-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 58px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.banner p {
    color: #ffffff;
}

.logo-web {
    height: 36px;
}

.categoria {
    flex-direction: column;
    margin-bottom: 2em;
    min-height: 200px;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: #255c9d;
    /*background-color: #ded3b6;*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 22px;
    font-weight: 500;
}

.card-img-top {
    width: 30%;
    margin: 0 16px 0 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.body-services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-services h3 {
    color: #fff;
}

.experts {
    background-color: #00338D !important;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.badge-active {
    background-color: #fff;
    color: #333;
    border: #fff 1px solid;
    -webkit-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.39);
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.39);
}

.documents {
    background-color: #006C8D !important;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.documents-active {
    background-color: #fff;
    color: #333;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.39);
}

.training {
    background-color: #1B655A !important;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.laboratories {
    background-color: #243A5F !important;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.institutions {
    background-color: #123C4A !important;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.geo {
    background-color: #2E4D43 !important;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.vess {
    background-color: #175a64 !important;
    border: #fff 1px solid;
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.39);
}

.body-services p {
    font-size: 16px;
    line-height: 16px;
    color: #fff;
}

.body-services i {
    font-size: 2.5em;
    margin-right: 0;
    margin-bottom: 10px;
}

.body-services .icon-experts:before {
    color: #ffffff;
}

.body-services .icon-documentos:before {
    color: #ffffff;
}

.body-services .icon-entren:before {
    color: #ffffff;
}

.body-services .icon-lab:before {
    color: #ffffff;
}

.body-services .icon-instituciones:before {
    color: #ffffff;
}

.body-services .icon-geo:before {
    color: #ffffff;
}

.body-services .icon-boat:before {
    color: #ffffff;
}

.link-cat a {
    color: #255C9D:
}

.link-cat {
    color: #255C9D;
    text-transform: none;
    text-decoration: none !important;
}

.categoria:hover {
    background: #255c9d;
    box-shadow: 2px 4px 6px 0 #928e8e;
    -webkit-box-shadow: 2px 4px 6px 0 #928e8e;
}

.cifra {
    font-size: 1.8em;
    font-weight: 500;
    color: #ffffff;
}

.link-cat:hover {
    text-decoration: transparent;
    text-transform: none;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}

.banner-search {
    background: #f7f7f7;
    padding: 20px 0 0;
    margin-top: 67px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #ffffff !important;
    background-color: #00308f;
    border-color: #ffffff #ffffff #fff;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.39);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    -webkit-box-shadow: 1px -2px 3px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 1px -2px 3px 0 rgba(0, 0, 0, 0.16);
    /*background: #ffffff;*/
    background: 00308f;
    color: #333333;
    border-bottom: 1px solid #fff;
}

.divimage {
    height: 80px;
    width: 80px;
    background-size: cover !important;
    background-position: center center !important;
}

footer {
    background: #255C9D;
    /* height: 3em; */
    padding: 1em;
    color: white;
}

.total-number {
    padding-left: 5px;
    margin-bottom: 10px;
    float: right;
    margin-top: 10px;
}

.span_total{
    padding: 10px 30px;
    background: #17a2b887;
    border-radius: 0px;
    /* margin-right: 10px; */
    margin-left: 5px;
    line-height: 1;
    border-radius: 4px;
    font-size: 18px;
}

/******forms********/

.btn-light {
    color: #212529;
    background-color: #ffffff;
    border: 1px solid #ced4da;
}

.input-wi input[type="text"] {
    padding-left: 34px;
}

.input-wi {
    position: relative;
}

.input-wi i {
    position: absolute;
    left: 0;
    top: 2px;
    padding: 9px 12px;
    color: #495057;
    transition: 0.3s;
    z-index: 4;
}

/**** loaders */

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid royalblue;
    border-color: royalblue transparent royalblue transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    width: 70px;
    height: 70px;
    margin: 40px auto;
}

.loader p {
    font-size: 16px;
    color: #777;
}

.loader .loader-inner {
    display: inline-block;
    width: 15px;
    border-radius: 15px;
    background: #74d2ba;
}

.loader .loader-inner:nth-last-child(1) {
    -webkit-animation: loading 1.5s 1s infinite;
    animation: loading 1.5s 1s infinite;
}

.loader .loader-inner:nth-last-child(2) {
    -webkit-animation: loading 1.5s .5s infinite;
    animation: loading 1.5s .5s infinite;
}

.loader .loader-inner:nth-last-child(3) {
    -webkit-animation: loading 1.5s 0s infinite;
    animation: loading 1.5s 0s infinite;
}

@-webkit-keyframes loading {
    0% {
        height: 15px;
    }

    50% {
        height: 35px;
    }

    100% {
        height: 15px;
    }
}

@keyframes loading {
    0% {
        height: 15px;
    }

    50% {
        height: 35px;
    }

    100% {
        height: 15px;
    }
}
/*** end loarders */
/*******end forms*********/

/*******mediaquery bootstrap********/

@media (max-width: 320px) {
    .media img {
        height: 50px;
        padding: 0;
    }
}

/*********Small devices (landscape phones, 576px and up)*************/

@media (max-width: 576px) {
    .body-services h3 {
        font-size: 1em;
    }
    .services {
        margin-top: 2em;
    }
    .row-cat {
        flex-direction: column;
        height: 250px;
        overflow-x: auto;
    }
    .media img {
        height: 80px;
        padding: 0;
    }
}

/*********Medium devices (tablets, 768px and up)*************/

@media (min-width: 768px) {
    .services {
        margin-top: -4em;
    }
    .body-services h3 {
        font-size: 1.1em;
    }
}

/************Large devices (desktops, 992px and up)************/

@media (min-width: 992px) {
    ...
}

/**************Extra large devices (large desktops, 1200px and up)***************/

@media (min-width: 1200px) {
    .container {
        max-width: 85% !important;
    }
}

.subtitle-adm {
    font-family: 'proxima_nova_semibold';
    color: #255C9D;
    display: inline-block;
    background: #cbd6ea;
    padding: 2px 10px;
    margin-top: 1em;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    color: rgba(6, 35, 86, 0.57);
    font-size: 1.1em;
    font-weight: 700;
}

span.haspage {
    font-size: 16px;
    color: #585858;
    font-weight: 400;
}

label.radio-inline.haspage {
    color: #585858;
    font-size: 16px;
    font-weight: 400;
}

label.radio-inline {
    color: #585858;
    font-size: 16px;
    font-weight: 400;
}

.hr1 {
    margin-top: -1.1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: 0.2em;
}

@-webkit-keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

@keyframes spinner-grow {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }
}

.spinner-header{
    flex-flow: column;
    align-items: center;
}

.spinner-grow {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    -webkit-animation: spinner-grow .75s linear infinite;
    animation: spinner-grow .75s linear infinite;
}

.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}



/**********************************new css*********************** */
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 320px;
    max-width: 320px;
    background: transparent; 
    transition: all 0.3s;
    padding-top: 1.2em;
}

#sidebar.active {
    margin-left: -320px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0338a1;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #02308f;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #29c8e4;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #16a1b8;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #16a1b8;
}

a.article,
a.article:hover {
    background: #16a1b8 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -320px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

.css-19bqh2r {
    color: #16a1b8;
}

.nameFilter {
    font-size: 1.1em;
    color: #fff;
    font-weight: 600;
}


@media (min-width: 576px){
.form-inline .form-control {
    display: inline-block;
    width: 320px;
    vertical-align: middle;
}
input.form-control.mr-sm-2 {
    padding-left: 2em;
}
.panel-button{
    background: #f8f8f8;
    border: 1px solid #eee;
    height: 70px
}

.a-form{
    margin-top: 15px;
}

.hidden { display:none; }