@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?7vo16c');
    src: url('../fonts/icomoon.eot?7vo16c#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?7vo16c') format('truetype'), url('../fonts/icomoon.woff?7vo16c') format('woff'), url('../fonts/icomoon.svg?7vo16c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-entren:before {
    content: "\e915";
    color: #255c9d;
}

.icon-boat:before {
    content: "\e914";
    color: #255c9d;
}

.icon-documentos:before {
    content: "\e900";
    color: #255c9d;
}

.icon-entrenamiento .path1:before {
    content: "\e901";
    color: rgb(37, 92, 157);
}

.icon-entrenamiento .path2:before {
    content: "\e902";
    margin-left: -1em;
    color: rgb(37, 92, 157);
}

.icon-entrenamiento .path3:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(37, 92, 157);
}

.icon-entrenamiento .path4:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(37, 92, 157);
}

.icon-entrenamiento .path5:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(37, 92, 157);
}

.icon-entrenamiento .path6:before {
    content: "\e906";
    margin-left: -1em;
    color: rgb(37, 92, 157);
}

.icon-entrenamiento .path7:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(37, 92, 157);
}

.icon-entrenamiento .path8:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(37, 92, 157);
}

.icon-entrenamiento .path9:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(37, 92, 157);
}

.icon-experts:before {
    content: "\e90a";
    color: #255c9d;
}

.icon-geo:before {
    content: "\e90b";
    color: #255c9d;
}

.icon-instituciones:before {
    content: "\e90c";
    color: #255c9d;
}

.icon-laboratorios:before {
    content: "\e90d";
    color: #255c9d;
}

.icon-home:before {
    content: "\e90e";
}

.icon-office:before {
    content: "\e90f";
}

.icon-newspaper:before {
    content: "\e910";
}

.icon-pencil:before {
    content: "\e911";
}

.icon-image:before {
    content: "\e912";
}

.icon-camera:before {
    content: "\e913";
}

.icon-connection:before {
    content: "\e91b";
}

.icon-book:before {
    content: "\e91f";
}

.icon-books:before {
    content: "\e920";
}

.icon-library:before {
    content: "\e921";
}

.icon-file-text:before {
    content: "\e922";
}

.icon-profile:before {
    content: "\e923";
}

.icon-files-empty:before {
    content: "\e925";
}

.icon-file-text2:before {
    content: "\e926";
}

.icon-stack:before {
    content: "\e92e";
}

.icon-folder-open:before {
    content: "\e930";
}

.icon-barcode:before {
    content: "\e937";
}

.icon-qrcode:before {
    content: "\e938";
}

.icon-coin-dollar:before {
    content: "\e93b";
}

.icon-coin-euro:before {
    content: "\e93c";
}

.icon-coin-pound:before {
    content: "\e93d";
}

.icon-coin-yen:before {
    content: "\e93e";
}

.icon-credit-card:before {
    content: "\e93f";
}

.icon-calculator:before {
    content: "\e940";
}

.icon-lifebuoy:before {
    content: "\e941";
}

.icon-phone:before {
    content: "\e942";
}

.icon-phone-hang-up:before {
    content: "\e943";
}

.icon-address-book:before {
    content: "\e944";
}

.icon-location:before {
    content: "\e947";
}

.icon-location2:before {
    content: "\e948";
}

.icon-compass:before {
    content: "\e949";
}

.icon-clock:before {
    content: "\e94e";
}

.icon-clock2:before {
    content: "\e94f";
}

.icon-alarm:before {
    content: "\e950";
}

.icon-bell:before {
    content: "\e951";
}

.icon-stopwatch:before {
    content: "\e952";
}

.icon-calendar:before {
    content: "\e953";
}

.icon-display:before {
    content: "\e956";
}

.icon-laptop:before {
    content: "\e957";
}

.icon-mobile:before {
    content: "\e958";
}

.icon-mobile2:before {
    content: "\e959";
}

.icon-tablet:before {
    content: "\e95a";
}

.icon-tv:before {
    content: "\e95b";
}

.icon-drawer:before {
    content: "\e95c";
}

.icon-drawer2:before {
    content: "\e95d";
}

.icon-database:before {
    content: "\e964";
}

.icon-user:before {
    content: "\e971";
}

.icon-users:before {
    content: "\e972";
}

.icon-user-tie:before {
    content: "\e976";
}

.icon-spinner:before {
    content: "\e97a";
}

.icon-spinner2:before {
    content: "\e97b";
}

.icon-spinner3:before {
    content: "\e97c";
}

.icon-spinner11:before {
    content: "\e984";
}

.icon-binoculars:before {
    content: "\e985";
}

.icon-search:before {
    content: "\e986";
}

.icon-lock:before {
    content: "\e98f";
}

.icon-unlocked:before {
    content: "\e990";
}

.icon-wrench:before {
    content: "\e991";
}

.icon-equalizer:before {
    content: "\e992";
}

.icon-equalizer2:before {
    content: "\e993";
}

.icon-cog:before {
    content: "\e994";
}

.icon-cogs:before {
    content: "\e995";
}

.icon-pie-chart:before {
    content: "\e99a";
}

.icon-stats-dots:before {
    content: "\e99b";
}

.icon-stats-bars:before {
    content: "\e99c";
}

.icon-stats-bars2:before {
    content: "\e99d";
}

.icon-leaf:before {
    content: "\e9a4";
}

.icon-lab:before {
    content: "\e9aa";
}

.icon-bin:before {
    content: "\e9ac";
}

.icon-bin2:before {
    content: "\e9ad";
}

.icon-briefcase:before {
    content: "\e9ae";
}

.icon-tree:before {
    content: "\e9bc";
}

.icon-earth:before {
    content: "\e9ca";
}

.icon-flag:before {
    content: "\e9cc";
}

.icon-attachment:before {
    content: "\e9cd";
}

.icon-star-empty:before {
    content: "\e9d7";
}

.icon-star-half:before {
    content: "\e9d8";
}

.icon-star-full:before {
    content: "\e9d9";
}

.icon-warning:before {
    content: "\ea07";
}

.icon-notification:before {
    content: "\ea08";
}

.icon-question:before {
    content: "\ea09";
}

.icon-plus:before {
    content: "\ea0a";
}

.icon-minus:before {
    content: "\ea0b";
}

.icon-info:before {
    content: "\ea0c";
}

.icon-cancel-circle:before {
    content: "\ea0d";
}

.icon-cross:before {
    content: "\ea0f";
}

.icon-checkmark:before {
    content: "\ea10";
}

.icon-checkmark2:before {
    content: "\ea11";
}

.icon-loop2:before {
    content: "\ea2e";
}

.icon-shuffle:before {
    content: "\ea30";
}

.icon-arrow-right2:before {
    content: "\ea3c";
}

.icon-arrow-left2:before {
    content: "\ea40";
}

.icon-sort-alpha-asc:before {
    content: "\ea48";
}

.icon-sort-alpha-desc:before {
    content: "\ea49";
}

.icon-sort-numeric-asc:before {
    content: "\ea4a";
}

.icon-sort-numberic-desc:before {
    content: "\ea4b";
}

.icon-sort-amount-asc:before {
    content: "\ea4c";
}

.icon-sort-amount-desc:before {
    content: "\ea4d";
}

.icon-command:before {
    content: "\ea4e";
}

.icon-filter:before {
    content: "\ea5b";
}

.icon-google:before {
    content: "\ea88";
}

.icon-google2:before {
    content: "\ea89";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-facebook2:before {
    content: "\ea91";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-whatsapp:before {
    content: "\ea93";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-flickr2:before {
    content: "\eaa4";
}

.icon-appleinc:before {
    content: "\eabe";
}

.icon-android:before {
    content: "\eac0";
}

.icon-linkedin:before {
    content: "\eac9";
}

.icon-linkedin2:before {
    content: "\eaca";
}

.icon-stackoverflow:before {
    content: "\ead0";
}

.icon-file-pdf:before {
    content: "\eadf";
}

.icon-file-word:before {
    content: "\eae1";
}

.icon-file-excel:before {
    content: "\eae2";
}