.content {
  z-index: 100;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.side-bar-l {
  background: #fbfbfb;
  padding-top: 1rem;
  margin-left: -16px;
  padding-left: 3rem;
  border-right: 1px solid #efefef;
  min-height: calc(100vh - 106px);
}

.side-bar-l .list-group-item {
  background-color: transparent;
  border: none;
  line-height: 10px;
}

.side-bar-l .dropdown-header {
  margin-left: -5px;
  text-transform: uppercase;
}

.list-group-item.active {
  z-index: 2;
  color: #00338d;
}

section.list-group-item.active {
  z-index: 2;
  color: #00338d;
}

body {
  position: relative;
}

.list-group {
  position: fixed;
}

.items {
  padding-top: 3rem;
}

.navbar {
  z-index: 1030;
}

h1 {
  color: #b9b9b9;
  border-left: 3px solid #2a66a7;
  margin-left: -14px;
  padding-left: 10px;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .side-bar-l {
    background: #fbfbfb;
    padding-top: 1rem;
    margin-left: -16px;
    padding-left: 1rem !important;
    border-right: 1px solid #efefef;
    min-height: calc(100vh - 106px);
  }
  .items {
    padding-top: 2rem !important;
  }
}

.hll {
  background-color: #ffc;
}

.c {
  color: #999;
}

.k {
  color: #069;
}

.o {
  color: #555;
}

.cm {
  color: #999;
}

.cp {
  color: #099;
}

.c1 {
  color: #999;
}

.cs {
  color: #999;
}

.gd {
  background-color: #fcc;
  border: 1px solid #c00;
}

.ge {
  font-style: italic;
}

.gr {
  color: #f00;
}

.gh {
  color: #030;
}

.gi {
  background-color: #cfc;
  border: 1px solid #0c0;
}

.go {
  color: #aaa;
}

.gp {
  color: #009;
}

.gu {
  color: #030;
}

.gt {
  color: #9c6;
}

.kc {
  color: #069;
}

.kd {
  color: #069;
}

.kn {
  color: #069;
}

.kp {
  color: #069;
}

.kr {
  color: #069;
}

.kt {
  color: #078;
}

.m {
  color: #f60;
}

.s {
  color: #d44950;
}

.na {
  color: #4f9fcf;
}

.nb {
  color: #366;
}

.nc {
  color: #0a8;
}

.no {
  color: #360;
}

.nd {
  color: #99f;
}

.ni {
  color: #999;
}

.ne {
  color: #c00;
}

.nf {
  color: #c0f;
}

.nl {
  color: #99f;
}

.nn {
  color: #0cf;
}

.nt {
  color: #2f6f9f;
}

.nv {
  color: #033;
}

.ow {
  color: #000;
}

.w {
  color: #bbb;
}

.mf {
  color: #f60;
}

.mh {
  color: #f60;
}

.mi {
  color: #f60;
}

.mo {
  color: #f60;
}

.sb {
  color: #c30;
}

.sc {
  color: #c30;
}

.sd {
  font-style: italic;
  color: #c30;
}

.s2 {
  color: #c30;
}

.se {
  color: #c30;
}

.sh {
  color: #c30;
}

.si {
  color: #a00;
}

.sx {
  color: #c30;
}

.sr {
  color: #3aa;
}

.s1 {
  color: #c30;
}

.ss {
  color: #fc3;
}

.bp {
  color: #366;
}

.vc {
  color: #033;
}

.vg {
  color: #033;
}

.vi {
  color: #033;
}

.il {
  color: #f60;
}

.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999;
}

.language-bash::before,
.language-sh::before {
  color: #009;
  content: "$ ";
  user-select: none;
}

.language-powershell::before {
  color: #009;
  content: "PM> ";
  user-select: none;
}

.bd-example {
  position: relative;
  padding: 1.5rem;
  margin-left: 0;
  border-width: 0.2rem;
  border: solid #f8f9fa;
}

.bd-clipboard {
  display: block;
}

.bd-clipboard {
  position: relative;
  float: right;
}

.bd-content > h2:not(:first-child) {
  margin-top: 3rem;
}

.bd-content {
  -ms-flex-order: 1;
  order: 1;
}

.highlight {
  padding: 0rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  background-color: #f8f9fa;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.bd-example::after {
  display: block;
  clear: both;
  content: "";
}

.media img {
  height: 100px;
}

.column {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

pre {
  padding-top: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
}

.btn-clipboard {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 10;
  display: block;
  padding: 0.25rem 0.5rem;
  font-size: 75%;
  color: #818a91;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;
}

.btn-clipboard:hover {
  color: #fff;
  background-color: #027de7;
}

.icon-lab:before {
  content: "\e9aa";
  color: #255c9d;
}

@media (min-width: 768px) {
  .ml-3-w,
  .mx-3-w {
    margin-left: 1rem !important;
  }
}
