{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../../static/css/bootstrap1.min.css" />
        <link rel="stylesheet" href="../../static/css/bootstrap-select.min.css" />
        <link rel="stylesheet" href="../../static/css/animate.min.css" />
        <link rel="stylesheet" href="../../static/css/styles.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Font-awesome -->
        <link rel="stylesheet" href="../../static/css/font-awesome.min.css" />
        <link rel="icon" sizes="16x16 24x24 32x32 64x64" type="image/x-icon" href="../../static/images/favicon.ico">
        <title>CHM LAC 2022</title>
    </head>
    <body>
        <div id="react-app">

        </div>    
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
        </script>
        <script src="../../static/js/bootstrap.min.js"></script>
        <script src="../../static/js/bootstrap-select.min.js"></script>
        <p align="center" position="relative">
            
            <a href="http://es.web-counter.net" title="contador de visitas" >
                <img src="http://www.web-counter.net/count_20091204.php?c=Q9YSaslpezq" style="border:0;padding:0;margin:0;" alt="contador de visitas" width="25" height="25"/>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_rskjdFHWa3x_PJw6bm1xF560_zmqWj_UZQ&usqp=CAU"style="border:0;padding:0;margin:0;" width="25" height="25"/>
            </a><br/>
            <font size="4" face="Arial">
                <a href="http://de.web-counter.net" title="Besucherzähler">Visits</a><br/>
            </font>
        </p>    
    </body>
    <script src="{% static 'frontend/main.js' %}"></script>
</html>