{% load django_tables2 %}
{% load i18n %}
{% block table-wrapper %}
<div class="table-container">
       
    {% block table %}
   
        <table class="table table-hover">
            {% block table.thead %}
            {% if table.show_header %}
                <thead>
                
                <tr class="bg-primary">
                {% for column in table.columns %}
                    {% if column.orderable %}
                        <th {{ column.attrs.th.as_html }}><a style="color:#ffffff" href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
                    {% else %}
                        <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                    {% endif %}
                {% endfor %}
                </tr>
                </thead>
            {% endif %}
            {% endblock table.thead %}
            {% block table.tbody %}
                <tbody>
                {% for row in table.paginated_rows %}
                    {% block table.tbody.row %}
                    <tr {{ row.attrs.as_html }}>
                        {% for column, cell in row.items %}
                            <td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                        {% endfor %}
                    </tr>
                    {% endblock table.tbody.row %}
                    {% empty %}
                    {% if table.empty_text %}
                    {% block table.tbody.empty_text %}
                        <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                    {% endblock table.tbody.empty_text %}
                    {% endif %}
                {% endfor %}
                </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
            {% if table.has_footer %}
            <tfoot>
                <tr>
                {% for column in table.columns %}
                    <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
                {% endfor %}
                </tr>
            </tfoot>
            {% endif %}
            {% endblock table.tfoot %}
        </table>
    {% endblock table %}

    {% if table.page and table.paginator.num_pages > 1 %}

    {% block pagination %}
   
   <!-- <div class="paginacion" style="width:50%">-->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
       
        {% with current_page=table.page.number page_count=table.paginator.num_pages rows_per_page=table.page.object_list|length total_rows=table.page.paginator.count %}
                
        
        {% block pagination.allpages %}
                {% for page in table.paginator.page_range %}
                {% with range_start=current_page|add:"-2" range_end=current_page|add:"2" page_count_minus_5=page_count|add:"-5" page_count_minus_1=page_count|add:"-1" %}
                {% if page == current_page %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ page }}</a>
                    </li>
                    
                {% elif page == 1 or page >= range_start and page <= range_end or page == page_count %}
                    {% if page == 1 %}
                    
                        {% if table.page.has_previous %}
                            {% block pagination.previous %}
                            <li class="page-item">
                                    <a class="page-link" tabindex="-1" href="{% querystring table.prefixed_page_field=page %}">❮❮</a>
                            </li>
                            <li class="page-item">
                                    <a class="page-link" tabindex="-1" href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" ><span aria-hidden="true">❮</span></a>
                            </li>
                                
                                
                            
                            {% endblock pagination.previous %}
                        {% endif %}
                    
                    {%elif page == page_count %}
                        {% if table.page.has_next %}
                            {% block pagination.next %}
                            
                                <li class="page-item">
                                        <a class="page-link" tabindex="-1" href="{% querystring table.prefixed_page_field=table.page.next_page_number %}" ><span aria-hidden="true">❯</span></a>
                                </li>
                                <li class="page-item">
                                        <a class="page-link" tabindex="-1" href="{% querystring table.prefixed_page_field=page %}" >❯❯</a>
                                </li>

                                
                                
                            {% endblock pagination.next %}
                        {% endif %}
                      
                    {%else%}
                    <li class="page-item">
                            <a class="page-link" tabindex="-1" href="{% querystring table.prefixed_page_field=page %}">{{ page }}</a>
                    </li>
                        
                    {%endif%}
                    
                {% endif %}
                
            {% endwith %}


                {% endfor %}
            {% endblock pagination.allpages %}
        {% endwith %}
        
        </ul>
        </nav>
        <!--</div>-->
   
    {% if table.page.has_previous or table.page.has_next %}
            {% block pagination.current %}
                <!--<div class="cardinality">
                    <small>{% blocktrans with table.page.number as current and table.paginator.num_pages as total %}Page {{ current }} of {{ total }}{% endblocktrans %}</small>
                </div>-->
               
            {% endblock pagination.current %}
        {% endif %}

    
  {% endblock pagination %}


    
    {% endif %}
</div>
{% endblock table-wrapper %}